*{
    font-family: 'Playfair Display', serif;
}

.title-abouts{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #171d4e;
    margin-top: 5%;
}

.body-about{
   max-width: 1200px;
   margin: auto;
}
.head-about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.head-about .left,.right{
    width: 50%;
    overflow: hidden;
}
.hastag{
    color: #be0000;
    font-size: 16px;
}
.right .title{
    font-size: 3rem;
    color: #171d4e;
}
.left{
    background-image: url('../images/abouts/01.jpg');
    margin: 0px 20px 0px 0px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-about{
    font-size: 16px;
    color: gray;
    margin-top: 20px;
}
iframe{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.about-body{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}
.about-body .ab-left,.ab-right{
    width: 50%;
}
.about-body .ab-title{
    font-size: 3rem;
    color: #171d4e;
}
.about-body .ab-right{
    font-size: 16px;
    color: gray;
}
.about-body .ab-right a{
    color: #171d4e;
    padding: 5px 0px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #171d4e;

}

.chi-so{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
.chi-so li{
    list-style: none;
    width: 25%;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    font-size: 8rem;
    color: rgb(235, 235, 235);
    font-family: serif;
}
.chi-so li::after{
    content: "";
    width: 1px;
    height: 30%;
    background-color: rgb(235, 235, 235);
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.chi-so li .text{
    color: #171d4e;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chi-so li:last-child:after {
    content: "";
    width: 0!important;
}

/* section  */

.intro {
	position: relative;
	max-width: 1200px;
	height: 40vh;
    display: flex;
    margin: auto;

}
.intro .left {
	float: left;
	height: 100%;
	width: 60%;
	padding: 3rem 3rem 3rem 5rem;
	display: table;
    background-image: none;
    background-color: rgb(243, 243, 243);
}
.intro .left > div {
	display: table-cell;
	vertical-align: middle;
}
span {
  color: #be0000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
}
h1 {
	font-size: 4rem;
	margin-bottom: 20px;
    color: #171d4e
}
h1 + p {
  color: gray;
  font-size: 1rem;
}
p + a {
  font-size: 1.6rem;
  color: #000;
}
.slider {
	float: right;
	position: relative;
	width: 40%;
	height: 100%;
}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}
h3 {
	font-size: 3rem;
	font-style: italic;
}
h3 + a {
	font-size: 1.5rem;
	display: inline-block;
	color: #fff;
	margin-top: 2rem;
}
h3, h3 + a {
	opacity: 0;
	transition: opacity .7s 0s, transform .5s .2s;
	transform: translate3d(0, 50%, 0);
}
li.current h3, li.current h3 + a {
	opacity: 1;
	transition-delay: 1s;
	transform: translate3d(0, 0, 0);
}
li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
nav a {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
   min-width: 12px;
   min-height: 12px;
	background: #fff;
	margin: 0 1rem;
  transition: transform .3s;
}
a.current_dot {
	transform: scale(1.4);
}
@media screen and (max-width: 700px) {
    .intro{
        flex-direction: column;
        height: 600px;
    }
	.intro .left {
		width: 100%;
		height: 30%;
	}
	.slider {
		width: 100%;
		height: 70%;
	}
    .head-about{
        flex-direction: column;
        align-items: center;
    }
    .head-about .left{
        display: none;
    }
    .head-about .right{
        width: 90%;
    }
    .about-body{
       flex-direction: column;
       align-items: center;
    }
    .about-body .ab-left{
        width: 90%;
    }
    .about-body .ab-right{
        width: 90%;
    }
}