footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 16px;
}
footer .logo-footer{
    width: 25%;
}
footer .logo-footer img{
    width: 100%;
}
footer .nav-f{
    display: flex;
    margin-top: 30px;
}
footer .nav-f li{
    list-style: none;
    margin: 0px 6px;
    padding: 0px 10px;
}
footer .nav-f li a{
    text-decoration: none;
    font-size: 1rem;
    color: #171d4e;
    padding: 5px 0px;
    position: relative;
}
footer .nav-f li a::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #171d4e;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: left;
    transform: scale(0%, 100%);
    transition: 0.5s;
}
footer .nav-f li:hover a::after{
    transform: scale(100%, 100%);
}
footer .icon-foot{
   display: flex;
   margin-top: 30px;
   
}
footer .icon-foot .icon-f {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #c4c7db;
    margin: 0px 10px;
    cursor: pointer;
}
footer .icon-foot .icon-f:hover i{
    color: #be0000;
}
footer i{
    transition: 0.5s;
}
.foot-end{
    padding: 30px;
    border-top: 1px solid gray;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.foot-end span{
    color: gray;
}
.foot-end a{
    color: #171d4e;
    text-decoration: none;
}
