/* font-family: 'Playfair Display', serif;  font serif */
*{
    margin: 0; padding: 0;
}
header{
    display: flex;
    max-width: 1920px;
    margin: auto;
}
header .logo{
    width: 20%;
}
header .logo img{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
header .menu{
    width: 68%;
    display: flex;
    justify-content: center;
    height:60px
}
header .menu>li{
    list-style: none;
    margin: 10px;
    position: relative;
    text-align: center;
    padding:10px 0px ;
    transition: 0.5s;
}
header .menu>li:nth-last-child(){
margin-right: 0px;
}
header .menu a{
    color: #171d4e;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
}

header .nav-icon{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right:10px;
    padding: 10px;
}
header .nav-icon i{
    padding: 10px;
    color: #171d4e;
    font-size: 20px;
}
header .menu li::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color:#171d4e;
    position: absolute;
    bottom: 0px;
    transform-origin: left center;
    transform: scale(0,1);
    transition: 0.5s;
}
header .menu li.active::before{
    transform: scale(1);
}

.sub-menu{
    position: absolute;
    z-index: 9;
    background-color: #171d4e;
    text-align: left;
    top: 100%;
    display: none;
}
.sub-menu li{
    margin: 10px 5px;
    list-style: none;
    padding: 5px 20px;
    
    
    
}
.sub-menu li a{
    color: white;
    font-weight: 300;
}
.sub-menu li:hover{
    border-right: 3px solid white;
}
header .menu>li:hover .sub-menu{
    display: block;
}

/* <!-- // popup contact  --> */
.contact{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #edfaff;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}
.head-con{
    display: flex;
    padding: 10%;
}
.head-con img{
 width: 60%;
}
.head-con i{
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    cursor: pointer;
    margin-left: 30px;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: 1s;
}
.head-con i:hover{
    transform: rotate(360deg);
}
.social{
    padding: 10%;
}
.social .s1{
    display: flex;
    padding: 10px 0px;
    cursor: pointer;
}
.social .s1 i{
    font-size: 20px;
}
.social .s1 .text{
    font-size: 20px;
    padding-left: 20px;
}
.foot-contact{
    margin: 20% 10%;
    padding-top: 10%;
    border-top: 1px solid;
}
.ct-num{
    font-size: 30px;
}
.ct-em{
    color: gray;
    padding-top: 20px;
}
.contact.active{
    right: 0;
}
.contact .user{
    margin: 10%;
    display: flex;
    text-decoration: none;
    color: #171d4e;
    border-bottom: 1px solid ;
    transition: 0.5s;
}
.user i{
    font-size: 30px;
}
.user .text{
    padding-left: 30px;
    font-size: 30px;
}
.contact .user:hover{
    color: #be0000;
}

/* <!-- // popup search  --> */
.search{
    width: 100vw;
    background-color: #171d4e;
    position: absolute;
    top: -100%;
    left: 0;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    z-index: 2;
}
.noidung-s{
    margin: 6%;
}
.s-head{
    display: flex;
    justify-content: space-between;
}
.s-head img{
width: 30%;
}
.s-head i{
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.search input{
    width: 100%;
    padding: 20px 0px;
    padding-right: 60px;
    color: white;
    background-color: #171d4e;
    outline: none;
    border: 0px;
    font-size: 30px;
    border-bottom: 0.5px solid white;
}
.search ::placeholder{
    color: rgb(126, 91, 39);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.search form i{
    color: white;
    position: absolute;
    font-size: 30px;
    right: 0;
    bottom: 20px;
}
.search form {
    position: relative;
    margin: 10% 0%;
}
.search.active{
    top: 0px;
}
#se{
    z-index: 100;
}
/* //menu mobile  */
.icon-menu-mb{
    cursor: pointer;
}
.menu-mb{
    cursor: pointer;
}
.header-mobile{
    background-color: #171d4e;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 100;
    transition: 0.5s;
}
.logo-mb{
   display: flex;
   justify-content: space-between;
}
.logo-mb img{
    width: 35%;
    margin-left: 10px;
}
.logo-mb .x-mb{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171d4e;
    background-color: white;
    border-radius: 50%;
    margin-right: 10%;
    cursor: pointer;
}
.logo-mb .x-mb i{
    font-size: 20px;
    transition: 0.5s;
}
.logo-mb .x-mb:hover i{
    transform: rotate(360deg);
}
.menu-mb{
    width: 90%;
    margin-top: 20px;
    padding-left:20px ;
    transition: 0.5s;
   
}
.menu-mb a{
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    display: inline-block;
    position: relative;
}
.menu-mb li{
    list-style: none;
    margin: 5px 0px;
    transition: 0.5s;
    
}
.menu-mb a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: white;
    left: 0;
    bottom: 0;
    transform-origin: left;
    transform: scale(0%,100%);
    transition: 0.5s;
}
.menu-mb>li:hover>a::after{
    transform: scale(100%,100%);
}

.sub-menu-mb>li:hover>a::after{
    transform: scale(100%,100%);
}
.sub-menu-mb{
    padding-left: 20px;
    overflow: hidden;
    transform-origin: top;
    height: 0;
    transition: 0.5s;
}
.sub-menu-mb a{
    color: gray;
    transition: 0.5s;
}
.sub-menu-mb>li:hover>a{
    color: white;
}
.menu-mb>li:hover>.sub-menu-mb{
    height: auto;
    transition: 0.5s;
}
.header-mobile.active{
    top: 0;
}

/* //reposive  */
@media only screen and (min-width: 1201px) {
    header .menu a{
     font-size: 14px;
    }
    .icon-menu-mb{
     display: none!important;
 }
 }
@media only screen and (max-width: 1200px) {
   header .menu a{
    font-size: 14px;
   }
   .icon-menu-mb{
    display: none;
}
}
@media only screen and (max-width: 1000px) {
    .icon-menu-mb{
        display: block;
    }
    header{
        justify-content: space-between;
    }
    header .menu{
     display: none;
    }
    #ct_in{
        display: none;
    }
    header .logo{
        width: 30%;
    }
 }